@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  max-width: 100%;
  display: flex;
  align-items: center;


}
.logoNav{
  width: 150px;
  margin-left: 20px;


}
.back{
  background-color: #fdfbf6;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 90vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  width: 100vw;
}
.card{
  width: 75vw;
  background-color: #52aaac;
  margin-bottom: 20px ;
  margin-top: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.card:hover{
  cursor: pointer;
}


.imgSize{
  width: 75vw;

}
.title{
  color:#fdfbf6;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 600px;
  font-size: 27px;
  text-align: center;
  padding: 6px;
}



/*end mobile section */ 

@media(min-width: 992px){

nav{
  height: 10vh;
}
.logoNav{
  width: 170px;
  margin-bottom: 25px;
  margin-top: 20px;

}
.back{

}
.container{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 18px;
}
.card{
  width: 35vw;
}


.imgSize{
  width: 35vw;

}
.title{
  padding: 6px;;
}







}